	.headers {
		text-decoration-line: underline;
		font-family:Helvetica;
		font-size: 20px;
		text-shadow: 2px 2px 5px grey;
		
	}
	  
  
	li{
	font-size: 15px;
	font-family:Helvetica;
	font-weight: normal;
	}
  
	#centre{
	text-align: center;
	text-decoration-line: underline;
	font-family:Helvetica;
	font-size: 30px;
	text-shadow: 2px 2px 5px grey;
	margin:0 auto;
	}	
  


